
my-app/.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/reactapp1.iml
.idea/vcs.xml
.idea/workspace.xml
my-app/.idea/inspectionProfiles/Project_Default.xml
my-app/.idea/misc.xml
my-app/.idea/modules.xml
my-app/.idea/my-app.iml
my-app/.idea/vcs.xml
